* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding-bottom: 50px;
}
header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}
header {
    padding-top: 60px;
    background-color: rgb(17, 124, 143);
}
h1 {
    text-align: left;
}
nav {
    background-color: #333;
    overflow: hidden;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}
nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
main {
    background-color: #e6cbcb;
    text-align: left;
    padding-bottom: 10px;
}
h2 {
    padding: 10px;
}
img {
    padding: 10px;
}
section h2 {
    text-align: center;
}
section ul {
    padding-left: 30px;
}
footer {
    position: fixed;
    background-color: #333;
    /* overflow: hidden; */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    height: 50px;
}
footer a {
    text-decoration: none;
    padding-right: 40px;
    color: white;
}
/* .profile {
    float: left;
    width: 200px;        /* adjust image size */
    margin-right: 15px;  /* space between image and text */
    border-radius: 8px;  /* optional */
} */
.photo-box {
    text-align: center;     /* centers caption and image */
    /* width: 166px;           /* same as your image width for perfect alignment */ */
    float: left;
    width: 200px;        /* adjust image size */
    margin-right: 15px;  /* space between image and text */
    border-radius: 8px;  /* optional */
}
.photo-box img {
    width: 166px;           /* keep your existing image width */
    display: block;         /* removes small gaps */
    margin: 0 auto;         /* ensure image stays centered */
}
.photo-caption {
    margin-top: 8px;        /* space between photo + text */
    font-size: 16px;
    font-weight: bold;
}
table {
            width: 5%;
            border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2
}
.social img{
    display: inline-block;
    margin: 0px 20px;
    vertical-align: middle;
}
.social{
    text-align: center;

}

