* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #e6cbcb;
    padding-bottom: 50px;
}
header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}
header {
    padding-top: 60px;
    background-color: rgb(17, 124, 143);
}
h1 {
    text-align: left;
}
nav {
    background-color: #333;
    overflow: hidden;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}
nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
main {
    text-align: left;
    padding-bottom: 10px;
}
h2 {
    padding: 10px;
}
img {
    padding: 10px;
}
section h2 {
    text-align: center;
}
section ul {
    padding-left: 30px;
}
footer {
    position: fixed;
    background-color: #333;
    /* overflow: hidden; */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    height: 50px;
}
footer a {
    text-decoration: none;
    padding-right: 40px;
    color: white;
}
.photo-box {
    float: left;          /* keep the box on the left */
    width: 20%;           /* box = 20% of page width */
    text-align: center;   /* center caption & image inside the box */
    margin-right: 20px;   /* space between photo and text */
}

.photo-box img {
    width: 100%;          /* image fills the box width */
    height: auto;         /* keep proportions */
    display: block;
}

.photo-caption {
    margin-top: 6px;
    font-weight: bold;
}

.about-text {
    text-align: justify;  /* optional: nice paragraph look */
}

table {
    width: 5%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2
}
.social img{
    display: inline-block;
    margin: 0px 20px;
    vertical-align: middle;
}
.social{
    text-align: center;
}
.skills-language-box {
    display: flex;
    justify-content: space-between;  /* pushes left & right */
    margin-top: 20px;
}

.skills-section, .language-section {
    width: 45%;   /* each takes half */
}

.skills-section h2, .language-section h2 {
    margin-bottom: 10px;
}

